@import url(common.css);

/*sub1-1*/
.philosophy .p_manage { margin-right: 41px; margin-bottom: 41px; float: left; width: 239px; height: 239px; border: 1px dashed darkred; background: url(../images/img_manage.jpg)}
.philosophy h4 { margin-bottom: 14px; margin-top: 28px; font: 14px/24px "돋움"; font-weight: bold; /*border: dashed 2px orange;*/}
.philosophy .h_first { margin-top: 0; }
.philosophy p { font: 12px/24px "돋움"; /* border: 1px solid green;*/}
.philosophy .p_last { margin-top:23px; margin-bottom: 36px; }


/*sub1-2*/
.history .h_img {margin-bottom: 70px; width: 657px; height: 174px; background: url(../images/img_history.jpg);}
/*#contents_sub table { border: 1px solid red; }*/
#contents_sub tr{border: 1px solid #777;} 
#contents_sub td{border: 1px dashed #777;} 
dl { padding-left: 5px; padding-top: 10px; padding-bottom: 67px; /*border: 2px solid orange;*/}
dt {float: left; height: 24px; width: 183px; font-size: 14px; font-weight: bold; }
dd { margin-left: 183px; /*border: 1px solid green;*/ line-height: 24px; }
dd.last { margin-bottom:36px; }
